{% extends 'emails/main.html' %}

{% block title %} Dashboard {% endblock %}
{% block titleh1 %}Dashboard{% endblock %}

{% block content %}

<div class="row pt-4">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card-header">
            <h3>Filtros</h3>
        </div>
        <div class=" card-body">
            <form method="get" class="form-control>
                {{ myFilter.form.as_p }}
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>


        </div>

    </div>



    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-9">

        <div>
            <h1>Listado de Usuarios</h1>
             <form method="post" >{% csrf_token %}
                <button type="submit" href="/dashboard"  name="btnSendEmails" class="btn btn-info">Enviar Correos</button>
            </form>
        </div>
        <div class="table-responsive py-2">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Edad</th>
                        <th>Ciudad</th>
                        <th>Productos</th>
                        <th>Fecha de ultima Compra</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{u.Cedula}}</td>
                        <td>{{u.Nombre}} {{u.Apellido}}</td>
                        <td>{{u.Email}}</td>
                        <td>{{u.Edad}}</td>
                        <td>{{u.Ciudad}}</td>
                        <td>{{u.producto}}</td>
                        <td>{{u.purchaseDate}}</td>
                        <td><a href="editarUsuario/{{u.Cedula}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarUsuario/{{u.Cedula}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    </div>
</div>




{% endblock %}
