<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> LA CACHARRERIA UNIVERSAL S.A </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="/crearUsuario">Crear Usuario</a>
<!--      <a class="nav-item nav-link" href="/crearProducto">Crear Producto</a>-->
<!--      <a class="nav-item nav-link" href="/hacerVenta">Hacer Venta</a>-->
      <a href="{% url 'salir' %}">cerrar sesion</a>


    </div>
  </div>
</nav>
